<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FiddlerCore" publicKeyToken="67CB91587178AC5A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.2.3" newVersion="2.3.2.3"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
